body {
    margin: 0;
}

/* Nav bar theme */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334659;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index:1;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

li:first-child a {
     padding: 8px 0 0 0;
 }

.nav li a:hover {
    background-color: #fff;
    color: #334659;
}

.nav li:first-child a:hover {
    background-color: #334659;
}

.nav .brand-logo {
    float: left;
    margin-left: 50px;
}

/* end of Nav bar theme */

.left-panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background: #f2f2f2;
    position: fixed;
    overflow: auto;
}

.left-panel li {
    padding: 10px 15px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.left-panel li:hover {
    background-color: #334659;
    color: #ffffff;
}

.left-panel li:hover a {
    color: #ffffff;
}

.left-panel li {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #313131;
}

li.dropdown ul {
    display : none;
}