body {
    margin: 0;
}

/* Nav bar theme */

.nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334659;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index:1;
    position: fixed;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

li:first-child a {
     padding: 8px 0 0 0;
 }

.nav li a:hover {
    background-color: #fff;
    color: #334659;
}

.nav li:first-child a:hover {
    background-color: #334659;
}

.nav .brand-logo {
    float: left;
    margin-left: 50px;
}

/* end of Nav bar theme */

/* left panel theme */

.left-panel {
    list-style-type: none;
    padding: 0;
    margin: 60px 0;
    width: 25%;
    height: 100%;
    background: #f2f2f2;
    position: fixed;
    overflow: auto;
}

.left-panel li {
    padding: 10px 15px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.left-panel li:hover a {
    color: #ffffff;
}

.left-panel li {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #313131;
}

li.dropdown ul {
    display : none;
}

li.dropdown ul li {
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    border-bottom: thin solid #cccccc;
}

li.dropdown ul li:hover {
    background-color: #f8f8f8;
    color: #334659;
}

/* end of left panel theme */

/* content theme */

.content {
    margin-left:25%;
    padding:1px 16px;
}

/* breadcrumb */
.breadcrumb {
    margin: 60px 0 0 0;
    padding: 30px 30px 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1.5px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: #313131;
    content: "/\00a0";
}

.breadcrumb li a {
    color: #cccccc;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #313131;
    text-decoration: underline;
}
/* end of breadcrumb */

/* question */
.question-block {
    margin: 50px 30px;
    background-color: #eeeeee;
    padding: 20px 10px;
}

.question {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1.8px;
}
/* end of question */

/* options block */
.options li {
    list-style: none;
    padding: 15px 10px;
    margin: 20px 60px 0 20px;
    background-color: #ffffff;
    border: solid 1px #979797;
}

.options li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.8px;
    color: #313131;
}
/* end of options block */

/* next button */
.next {
    margin: 30px 30px;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.8px;
    background-color: #334659;
    color: white;
    border: none;
}
/* end of next button */


/* end of content theme */